@using BlazorBoilerplate.Shared.Dto.Admin
@inherits LayoutComponentBase
@inject HttpClient Http

<div class="login-container">
    <LoadingBackground />
    <div class="login-body">
        @Body
    </div>
</div>

@code{

    public TenantDto tenant { get; set; } = new TenantDto();
    public string tenantFolder { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        var apiResponse = await Http.GetNewtonsoftJsonAsync<ApiResponseDto<TenantDto>>("api/admin/tenant");
        if (apiResponse.StatusCode == Status200OK)
        {
            tenant = apiResponse.Result;
            tenantFolder = tenant.Id;
        }
    }
}

