@using BlazorBoilerplate.Shared.Dto.Admin
@inject HttpClient Http

<div class="triangle-container">
    <div class="triangles">
    </div>
</div>

@if (ShowLogoBox)
{
    <div class="loading-container">
        @if(String.IsNullOrEmpty(tenantFolder)){
            <img src="../images/logo.svg" style="width:100px;" /><br />    
        }else{
            <img src="../images/@(tenantFolder)/logo.svg" style="width:100px;" /><br />
        }        
        @ChildContent
    </div>
}


@code {
    [Parameter]
    public bool ShowLogoBox { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    public TenantDto tenant { get; set; } = new TenantDto();
    public string tenantFolder { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        var apiResponse = await Http.GetNewtonsoftJsonAsync<ApiResponseDto<TenantDto>>("api/admin/tenant");
        if (apiResponse.StatusCode == Status200OK)
        {
            tenant = apiResponse.Result;
            tenantFolder = tenant.Id;
        }
    }
}
