@page "/"
@using BlazorBoilerplate.Shared.Dto.Admin
@inject HttpClient Http

<h1><img src="../images/@(tenantFolder)/logo-title.png" alt="Loading" title="CoastalHub" style="max-width: 100%;" /></h1>

<p>Welcome to Coastal Hub</p>
<p>
    <strong>Coastal Hub</strong> is a hub of custom applications for the banking industry. For support please contact Coastal Outsourced Solutions.
</p>

<p>
    <a href="/swagger/index.html" target="_blank"> Swagger API Documentation</a>
</p>

@code{
    bool lazySnackbarIsOpen = false;

    TenantDto tenant { get; set;}
    public string tenantFolder { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        var apiResponse = await Http.GetNewtonsoftJsonAsync<ApiResponseDto<TenantDto>>("api/admin/tenant");
        if (apiResponse.StatusCode == Status200OK)
        {
            tenant = apiResponse.Result;
            tenantFolder = tenant.Id;
        }
    }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        await Task.Delay(TimeSpan.FromSeconds(3)).ContinueWith((_) =>
        {
            this.lazySnackbarIsOpen = true;
        });
    }
}
