@page "/externalauth/success"

@attribute [Authorize]
@inject AppState appState
@inject NavigationManager navigationManager
@inject HttpClient Http
@inject AuthenticationStateProvider authStateProvider
@inject IStringLocalizer<Global> L
@inject IMatToaster matToaster
<MatCard>
    <div class="logo" style="padding: 50px;">
        <img src="../logo.svg" style="width:100px;" />
        <br />CoastalHub
        <br />
        <h4>External authentication success</h4>
        <MatButton Link="/" Raised="true">Home</MatButton>
    </div>
</MatCard>

@code {



}
